@page "/about"
@page "/a-propos"

@using Common.Extensions
@using Common.Models
@using MeshtasticMqttExplorer.Services

@inject RecorderService RecorderService

<PageTitle>Meshtastic Mqtt Explorer</PageTitle>

<GridRow Gutter="(16, 16)" Justify="center">
    <GridCol Xs="24" Md="12">
        <Card Title="Le projet">
            <ChildContent>
                <p>
                    Ce site est un outil pour le projet <a href="https://meshtastic.org/" target="_blank">Meshtastic</a>.
                </p>
            </ChildContent>
        </Card>
    
        <Card Title="Inspiration & liens">
            <ChildContent>
                <ul>
                    <li><a href="https://meshmap.net/" rel="nofollow" target="_blank">MeshMap</a></li>
                    <li><a href="https://meshtastic.liamcottle.net/" rel="nofollow" target="_blank">Liam Cottle</a></li>
                    <li><a href="https://www.serveurperso.com/" rel="nofollow" target="_blank">Pascal de ServeurPerso</a></li>
                    <li><a href="http://gaulix.fr/" rel="nofollow" target="_blank">Le réseau Gaulix</a></li>
                    <li><a href="https://wiki.fr-emcom.com/gaulix_reseau_meshtastic_-_france:1:start" target="_blank">Le Wiki du réseau Gaulix</a></li>
                    <li><a href="https://meshtastic.discourse.group/t/france-public-channel/10230" target="_blank">Le Forum Meshtastic France</a></li>
                </ul>
            </ChildContent>
        </Card>
    </GridCol>
    
    <GridCol Xs="24" Lg="12">
        <Card Title="Serveurs MQTT utilisés">
            <ChildContent>
                @foreach (var mqtt in MqttConfigurations)
                {
                    <Descriptions Bordered Column="1">
                        <DescriptionsItem Title="Nom" ContentStyle="font-weight: bold">@mqtt.Name</DescriptionsItem>
                        <DescriptionsItem Title="URL" ContentStyle="font-weight: bold">@mqtt.Host</DescriptionsItem>
                        <DescriptionsItem Title="Messages reçus" ContentStyle="font-weight: bold">@mqtt.NbPacket | @mqtt.LastPacketDate?.ToFrench()</DescriptionsItem>
                        <DescriptionsItem Title="Topics">
                            @foreach (var topic in mqtt.Topics)
                            {
                                <Tag>@topic</Tag>
                            }
                        </DescriptionsItem>
                    </Descriptions>
                    <Divider></Divider>
                }
            </ChildContent>
        </Card>
    </GridCol>
</GridRow>

@code
{
    private IEnumerable<MqttConfiguration> MqttConfigurations { get; set; } = [];
        
    protected override async Task OnInitializedAsync()
    {
        MqttConfigurations = await RecorderService.GetMqttConfigurations();

        await base.OnInitializedAsync();
    }
}