@page "/messages"
@rendermode InteractiveServer
@implements IAsyncDisposable

@using System.Globalization
@using System.Reactive.Linq
@using System.Text.RegularExpressions
@using MeshtasticMqttExplorer.Context
@using Microsoft.EntityFrameworkCore
@using MeshtasticMqttExplorer.Extensions
@using MeshtasticMqttExplorer.Services
@using Channel = MeshtasticMqttExplorer.Context.Entities.Channel

@inject MqttService MqttService
@inject IDbContextFactory<DataContext> ContextFactory;

<PageTitle>Messages</PageTitle>

<PageHeader Title="Messages">
    <SubtitleTemplate>
        @Total messages
    </SubtitleTemplate>
    <PageHeaderExtra>
        <Button OnClick="FetchData">Actualiser</Button>
    </PageHeaderExtra>
</PageHeader>

<Spin Spinning="Loading">
    <Tabs Size="TabSize.Default">
        @foreach (var channel in _channels)
        {
            <TabPane Tab="@channel.Name" Key="@channel.Id.ToString()">
                <p>
                    @channel.TextMessages.Count messages
                </p>
                
                @foreach (var message in channel.TextMessages.OrderByDescending(a => a.CreatedAt))
                {
                    <Comment Author="@(message.From.OneName() + " pour " + message.To?.OneName())"
                             Avatar="@message.From.HardwareModel.GetImageUrl()"
                             Content="@message.Message"
                             Datetime="@message.CreatedAt.ToFrench().ToString(CultureInfo.CurrentCulture)">
                    </Comment>
                }
            </TabPane>
        }
    </Tabs>
</Spin>

@code
{
    [Parameter]
    public long? Id { get; set; }
    
    private bool Loading { get; set; } = true;
    private int Total { get; set; }
    private List<Channel> _channels = [];
    private DataContext Context { get; set; } = null!;

    private List<IDisposable> Disposables { get; } = [];
    
    protected override async Task OnInitializedAsync()
    {
        Context = await ContextFactory.CreateDbContextAsync();

        await FetchData();

        Disposables.Add(MqttService.NewTextMessage.SubscribeAsync(async message =>
        {
            var channel = _channels.Find(c => c.Id == message.ChannelId);

            if (channel == null)
            {
                _channels.Add(message.Channel);
            }
            else
            {
                channel.TextMessages.Add(message);
            }

            Total++;
            
            await InvokeAsync(StateHasChanged); 
        }));

        Disposables.Add(MqttService.NewChannel.Where(c => _channels.Find(cc => cc.Id == c.Id) == null).SubscribeAsync(async channel =>
        {
            _channels.Add(channel);

            await InvokeAsync(StateHasChanged);
        }));

        await base.OnInitializedAsync();
    }

    private async Task FetchData()
    {
        Loading = true;
        
        _channels = await Context.Channels
            .Include(c => c.TextMessages.OrderByDescending(a => a.CreatedAt))
            .ThenInclude(c => c.From)
            .Include(c => c.TextMessages)
            .ThenInclude(c => c.To)
            .Where(a => a.TextMessages.Count > 0)
            .OrderBy(a => a.Name)
            .ToListAsync();

        Total = _channels.Sum(a => a.TextMessages.Count);

        Loading = false;
    }

    public async ValueTask DisposeAsync()
    {
        await Context.DisposeAsync();

        foreach (var disposable in Disposables)
        {
            disposable.Dispose();
        }
    }
}