@page "/messages"
@page "/channel/{channelId:long}/messages"
@implements IAsyncDisposable

@using System.Globalization
@using System.Reactive.Linq
@using MeshtasticMqttExplorer.Context
@using Microsoft.EntityFrameworkCore
@using MeshtasticMqttExplorer.Extensions
@using MeshtasticMqttExplorer.Services
@using Channel = MeshtasticMqttExplorer.Context.Entities.Channel

@inject MqttService MqttService
@inject IDbContextFactory<DataContext> ContextFactory;

<PageTitle>
    @if (Channel == null)
    {
        <text>Liste des messages</text>
    }
    else
    {
        <text>Liste des messages du canal @Channel.Name</text>
    }
</PageTitle>

<PageHeader Title="Messages">
    <SubtitleTemplate>
        @if (Channel == null)
        {
            <text>@Total messages dans @Channels.Count cannaux</text>
        }
        else
        {
            <text>@Total messages dans @Channel.Name</text>
        }
    </SubtitleTemplate>
    <PageHeaderExtra>
        <Button Disabled="@Loading" OnClick="FetchData">Actualiser</Button>
    </PageHeaderExtra>
</PageHeader>

<Spin Spinning="Loading">
    <Layout Class="site-layout-background" Style="padding: 24px 0;">
        <Sider Class="site-layout-background" Width="250"
               CollapsedWidth="0" 
               Breakpoint="BreakpointType.Sm">
            <Menu Mode="MenuMode.Inline"
                  Style="height: 100%;">
                @foreach (var channel in Channels)
                {
                    <MenuItem RouterLink="@("/channel/" + channel.Id + "/messages")" RouterMatch="NavLinkMatch.All">@channel.Name (@channel.TextMessages.Count messages)</MenuItem>
                }
            </Menu>
        </Sider>
        <Content Style="padding:0 24px; min-height: 280px;">
            @if (Channel != null)
            {
                @foreach (var message in Channel.TextMessages)
                {
                    <Comment Author="@(message.From.OneName() + " pour " + message.To?.OneName())"
                             Avatar="@message.From.HardwareModel.GetImageUrl()"
                             Content="@message.Message"
                             Datetime="@message.CreatedAt.ToFrench().ToString(CultureInfo.CurrentCulture)">
                    </Comment>
                }
            }
            else if (Channels.Count > 0)
            {
                <Result Title="Choisissez un canal à gauche"></Result>
            }
            else
            {
                <Result Title="Aucun canal" Status="warning"></Result>
            }
        </Content>
    </Layout>
</Spin>

@code
{
    [Parameter]
    public long? ChannelId { get; set; }
    
    private bool Loading { get; set; } = true;
    private int Total { get; set; }
    private List<Channel> Channels { get; set; } = [];
    private Channel? Channel { get; set; }
    private DataContext Context { get; set; } = null!;
    
    protected override async Task OnInitializedAsync()
    {
        Context = await ContextFactory.CreateDbContextAsync();
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!ChannelId.HasValue)
        {
            Channel = null;
        }
        
        await FetchData();
        
        await base.OnParametersSetAsync();
    }

    private async Task FetchData()
    {
        Loading = true;
        
        Channels = await Context.Channels
            .Include(c => c.TextMessages.OrderByDescending(a => a.CreatedAt))
            .ThenInclude(c => c.From)
            .Include(c => c.TextMessages)
            .ThenInclude(c => c.To)
            .Where(a => a.TextMessages.Count > 0)
            .OrderBy(a => a.Name)
            .ToListAsync();

        Total = Channels.Sum(a => a.TextMessages.Count);

        if (ChannelId.HasValue)
        {
            Channel = Channels.Find(c => c.Id == ChannelId);

            if (Channel != null)
            {
                Total = Channel.TextMessages.Count;
            }
        }

        Loading = false;
    }

    public async ValueTask DisposeAsync()
    {
        await Context.DisposeAsync();
    }
}