@page "/nodes"
@implements IAsyncDisposable

@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@using AntDesign.TableModels
@using MeshtasticMqttExplorer.Context
@using Microsoft.EntityFrameworkCore
@using MeshtasticMqttExplorer.Components.Shared
@using MeshtasticMqttExplorer.Services
@using Microsoft.AspNetCore.WebUtilities
@using Node = MeshtasticMqttExplorer.Context.Entities.Node

@inject IDbContextFactory<DataContext> ContextFactory
@inject IMessageService Message
@inject NavigationManager Navigation

<PageTitle>Tableau des nœuds</PageTitle>

<PageHeader Title="Nœuds">
    <SubtitleTemplate>
        @Total nœuds
    </SubtitleTemplate>
    <PageHeaderExtra>
        <Button OnClick="FetchData">Actualiser</Button>
    </PageHeaderExtra>
    <PageHeaderContent>
        <Search Placeholder="Accéder à un nœud" EnterButton="true" OnSearch="OnSearch" @bind-Value="@SearchValue" />
    </PageHeaderContent>
</PageHeader>

<Table TItem="Node" DataSource="NodesQueryable" Responsive Locale="Utils.TableLocale">
    <ChildContent>
        <PropertyColumn Property="c => c.AllNames" Title="ID - Nom" Sortable Filterable DefaultSortOrder="SortDirection.Ascending">
            <div style="width: 300px">
                <a href="/node/@context.Id" target="_blank" rel="nofollow">@context.AllNames</a>
            </div>
        </PropertyColumn>
        <PropertyColumn Property="c => c.LastSeen" Title="Vu dernière fois" Sortable>
            <div style="width: 130px">
                <Date Value="context.LastSeen" Fallback="-"></Date>
            </div>
        </PropertyColumn>
        <PropertyColumn Property="c => c.RegionCode" Title="Bande" Sortable Filters="Utils.RegionCodeFilters">
            <div style="width: 50px">
                @(context.RegionCode?.ToString() ?? "-")
            </div>
        </PropertyColumn>
        <PropertyColumn Property="c => c.ModemPreset" Title="Profil de modulation" Sortable Filters="Utils.ModemPresetFilters">
            <div style="width: 80px">
                @(context.ModemPreset?.ToString() ?? "-")
            </div>
        </PropertyColumn>
        <PropertyColumn Property="c => c.Role" Title="Rôle" Sortable Filters="Utils.RoleFilters">
            <div style="width: 80px">
                @(context.Role?.ToString() ?? "-")
            </div>
        </PropertyColumn>
        <PropertyColumn Property="c => c.IsMqttGateway" Title="Passerelle MQTT" Sortable>
            <div style="width: 30px">
                @(context.IsMqttGateway == true ? "Oui" : "Non")
            </div>
        </PropertyColumn>
    </ChildContent>
</Table>

@code
{
    [Parameter]
    public long? Id { get; set; }
    
    private int Total { get; set; }
    private IQueryable<Node> NodesQueryable { get; set; } = null!;
    private DataContext Context { get; set; } = null!;

    private string SearchValue { get; set; } = "";
    
    protected override async Task OnInitializedAsync()
    {
        Context = await ContextFactory.CreateDbContextAsync();
        
        NodesQueryable = Context.Nodes.Where(a => a.LastSeen.HasValue && MqttService.NodesAvoided.All(b => b != a.NodeId));
        
        var localContext = await ContextFactory.CreateDbContextAsync();
        
        Total = localContext.Nodes.Count(a => a.LastSeen.HasValue && MqttService.NodesAvoided.All(b => b != a.NodeId));
        
        await localContext.DisposeAsync();

        await base.OnInitializedAsync();
    }

    private void FetchData()
    {
        Total = Context.Nodes.Count(a => a.LastSeen.HasValue && MqttService.NodesAvoided.All(b => b != a.NodeId));
    }

    private async Task OnSearch()
    {
        if (SearchValue.Trim('!').Length < 4)
        {
            await Message.Warning("Il faut minimum 4 caractères");
            return;
        }

        await Task.Delay(250);

        var node = await Context.Nodes.SingleOrDefaultAsync(a => a.NodeIdString.ToLower().Trim('!') == SearchValue.ToLower().Trim('!') || a.ShortName == SearchValue.ToLower() || a.LongName == SearchValue.ToLower());
        
        if (node != null) {
            Navigation.NavigateTo($"/node/{node.Id}");
        }
        else
        {
            await Message.Error($"{SearchValue} introuvable");
        }
    }

    public async ValueTask DisposeAsync()
    {
        await Context.DisposeAsync();
    }
}