@page "/"
@page "/map"

@implements IAsyncDisposable
@using System.Globalization
@using Meshtastic.Protobufs
@using MeshtasticMqttExplorer.Components.Shared
@using MeshtasticMqttExplorer.Context
@using MeshtasticMqttExplorer.Extensions
@using Microsoft.EntityFrameworkCore
@using NeighborInfo = MeshtasticMqttExplorer.Context.Entities.NeighborInfo
@using Node = MeshtasticMqttExplorer.Context.Entities.Node

@inject IConfiguration Configuration
@inject IDbContextFactory<DataContext> ContextFactory;

<PageTitle>Carte des nœuds</PageTitle>

<PageHeader Title="Cartes des nœuds">
    <SubtitleTemplate>
        @Total nœuds avec position dont @TotalAlive en ligne depuis le @MinDate.ToFrench().ToString("d")
    </SubtitleTemplate>
    <PageHeaderExtra>
        <Button Disabled="@Loading" OnClick="FetchData">Actualiser</Button>
    </PageHeaderExtra>
    <PageHeaderContent>
        <div>
            <Segmented Disabled="Loading" Options="@RegionsCodes" Value="CurrentRegionCode" TValue="Config.Types.LoRaConfig.Types.RegionCode?" OnChange="value => SetRegionCode(value)" />
            <Segmented Disabled="Loading" Options="@ModemsPresets" Value="CurrentModemPreset" TValue="Config.Types.LoRaConfig.Types.ModemPreset?" OnChange="value => SetModemPreset(value)" />
            <Segmented Disabled="Loading" Options="@Frequencies" Value="CurrentFrequencies" TValue="string[]" OnChange="value => SetFrequency(value)" />
        </div>

        @* <div> *@
        @*     <Switch @bind-Checked="ShowPaths" Disabled="@Loading" CheckedChildren="Afficher les liens" UnCheckedChildren="Cacher les liens" OnChange="FetchData" /> *@
        @*     <Switch @bind-Checked="ShowPois" Disabled="@Loading" CheckedChildren="Afficher les points d'intérêts" UnCheckedChildren="Cacher les points d'intérêts" OnChange="FetchData"/> *@
        @* </div> *@

        <div>
            <NodeSearch></NodeSearch>
        </div>
    </PageHeaderContent>
</PageHeader>

<Spin Spinning="Loading">
    <Osm Height="calc(100vh - 270px)" @ref="Map" Latitude="46.199144" Longitude="2.321139" Zoom="5"></Osm>
    
    <Card Title="Légende" Size="small" Bordered="true">
        <ChildContent>
            <GridRow Gutter="(16, 16)" Justify="center">
                <GridCol Xs="24" Md="12">
                    <div class="legend">
                        <span style="@GetIconStyleCss(Utils.Green)" class="legend-circle"></span>
                        En ligne | Passerelle MQTT
                    </div>
                    <div class="legend">
                        <span style="@GetIconStyleCss(Utils.Blue)" class="legend-circle"></span>
                        En ligne
                    </div>
                    <div class="legend">
                        <span style="@GetIconStyleCss(Utils.Red)" class="legend-circle"></span>
                        Hors ligne depuis plus de 24h
                    </div>
                    <div class="legend">
                        <span style="@GetIconStyleCss(Utils.Gray)" class="legend-circle"></span>
                        Bande et profil de modulation inconnu
                    </div>
                </GridCol>
    
                <GridCol Xs="24" Md="12">
                    @if (ShowPaths)
                    {
                        <div class="legend">
                            <span style="background-color: @Utils.Gold" class="legend-bar"></span>
                            Lien radio direct
                        </div>
                        <div class="legend">
                            <span style="background-color: @Utils.Blue" class="legend-bar"></span>
                            Lien possiblement incorrect
                        </div>
                        <div class="legend">
                            <span style="background-color: @Utils.Red" class="legend-bar"></span>
                            Lien avec "trous"
                        </div>
                    }
                    @if (ShowPois)
                    {
                        <div class="legend">
                            <span style="@GetIconStyleCss(Utils.Orange, null, 0)" class="legend-circle"></span>
                            Point d'intétêt
                        </div>
                    }
                </GridCol>
            </GridRow>
        </ChildContent>
    </Card>
</Spin>

@code
{
    private bool Loading { get; set; }
    private bool HasRenderMapData { get; set; }
    private bool ShowPaths { get; set; } = true;
    private bool ShowPois { get; set; } = true;
    private int Total { get; set; }
    private int TotalAlive { get; set; }
    private int NbDaysPurge { get; set; }
    private DateTime MinDate { get; set; } = DateTime.MinValue;
    private List<Node> Nodes { get; set; } = [];
    private DataContext Context { get; set; } = null!;
    private Osm? Map { get; set; }
    private Config.Types.LoRaConfig.Types.RegionCode? CurrentRegionCode { get; set; } = Config.Types.LoRaConfig.Types.RegionCode.Eu868;
    private Config.Types.LoRaConfig.Types.ModemPreset? CurrentModemPreset { get; set; } = Config.Types.LoRaConfig.Types.ModemPreset.LongModerate;
    private string[]? CurrentFrequencies { get; set; }
    private List<SegmentedOption<Config.Types.LoRaConfig.Types.RegionCode?>> RegionsCodes { get; } = Utils.RegionCodeFilters.Take(2)
        .Select(a => new SegmentedOption<Config.Types.LoRaConfig.Types.RegionCode?>(a.Value, a.Text))
        .Concat([new SegmentedOption<Config.Types.LoRaConfig.Types.RegionCode?>(null, "Tous")])
        .ToList();
    private List<SegmentedOption<Config.Types.LoRaConfig.Types.ModemPreset?>> ModemsPresets { get; } = Utils.ModemPresetFilters.Take(2)
        .Select(a => new SegmentedOption<Config.Types.LoRaConfig.Types.ModemPreset?>(a.Value, a.Text))
        .Concat([new SegmentedOption<Config.Types.LoRaConfig.Types.ModemPreset?>(null, "Tous")])
        .ToList();
    private List<SegmentedOption<string[]>> Frequencies { get; } = [ 
        new([""], "Tous"),
        new([".4625", "Gaulix"], "869.4625 Mhz (Gaulix)"),
        new(["869.4", ".400"], "869.400 Mhz (Paris)"),
    ];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender && Map != null && !HasRenderMapData)
        {
            await Map.ClearMarkers();
            
            var markers = Nodes.Select(GetMarker).ToList();
            List<Osm.Line> lines = [];
            
            foreach (var node in Nodes)
            {
                if (ShowPaths && node.MyNeighbors.Any())
                {
                    lines.AddRange(
                        node.MyNeighbors
                            .Where(n => n.Neighbor is { Latitude: not null, Longitude: not null })
                            .Where(n => Math.Abs(n.Distance!.Value - Utils.CalculateDistance(node.Latitude!.Value, node.Longitude!.Value, n.Neighbor.Latitude!.Value, n.Neighbor.Longitude!.Value)) < Utils.DifferenceBetweenDistanceAllowed)
                            .Select(n =>
                            {
                                markers.Add(GetMarker(n.Neighbor));
                                
                                return new Osm.Line
                                {
                                    Id = $"node(neighbor)-{n.Neighbor.Id}->node-{node.Id}",
                                    Points =
                                    [
                                        [node.Latitude!.Value, node.Longitude!.Value],
                                        [n.Neighbor.Latitude!.Value, n.Neighbor.Longitude!.Value]
                                    ],
                                    Color = n.DataSource == NeighborInfo.Source.Unknown ? Utils.Red : n.Snr == 0 ? Utils.Blue : Utils.Gold,
                                    Popup = $"<p><a href=\"/node/{node.Id}\" target=\"_blank\" rel=\"nofollow\"><b>{node.AllNames}</b></a></p><p>Voisin ({n.DataSource}) : <a href=\"/node/{n.Neighbor.Id}\" target=\"_blank\"><b>{n.Neighbor.AllNames}</b></a></p><p>Distance : {(n.Distance.HasValue ? Math.Round(n.Distance.Value, 2) : "-")} Km</p><p>SNR : {n.Snr}</p><p><a href=\"/packet/{n.PacketId}\" target=\"_blank\" rel=\"nofollow\"><i>Voir la trame</i></a></p>"
                                };
                            })
                    );
                    
                    lines.AddRange(
                        node.NeighborsFor
                            .Where(n => n.Node is { Latitude: not null, Longitude: not null })
                            .Where(n => Math.Abs(n.Distance!.Value - Utils.CalculateDistance(node.Latitude!.Value, node.Longitude!.Value, n.Node.Latitude!.Value, n.Node.Longitude!.Value)) < Utils.DifferenceBetweenDistanceAllowed)
                            .Select(n =>
                            {
                                markers.Add(GetMarker(n.Node));
                                
                                return new Osm.Line
                                {
                                    Id = $"node(neighbor-for)-{n.Node.Id}->node-{node.Id}",
                                    Points =
                                    [
                                        [node.Latitude!.Value, node.Longitude!.Value],
                                        [n.Node.Latitude!.Value, n.Node.Longitude!.Value]
                                    ],
                                    Color = n.DataSource == NeighborInfo.Source.Unknown ? Utils.Red : n.Snr == 0 ? Utils.Blue : Utils.Gold,
                                    Popup = $"<p><a href=\"/node/{node.Id}\" target=\"_blank\" rel=\"nofollow\"><b>{node.AllNames}</b></a></p><p>Voisin ({n.DataSource}) : <a href=\"/node/{n.Node.Id}\" target=\"_blank\"><b>{n.Node.AllNames}</b></a></p><p>Distance : {(n.Distance.HasValue ? Math.Round(n.Distance.Value, 2) : "-")} Km</p><p>SNR : {n.Snr}</p><p><a href=\"/packet/{n.PacketId}\" target=\"_blank\" rel=\"nofollow\"><i>Voir la trame</i></a></p>"
                                };
                            })
                    );
                }

                if (ShowPois && node.Waypoints.Any())
                {
                    lines.AddRange(
                        node.Waypoints
                            .Select(n => new Osm.Line
                            {
                                Id = $"waypoint-{n.Id}->node-{node.Id}",
                                Points = [
                                    [node.Latitude!.Value, node.Longitude!.Value],
                                    [n.Latitude, n.Longitude]
                                ],
                                Color = Utils.Orange,
                                Popup = $"<p><a href=\"/node/{node.Id}\" target=\"_blank\" rel=\"nofollow\"><b>{node.AllNames}</b></a></p><p>Point d'intérêt : <b>{n.Name}</b></p><p>{n.Description}</p><p>Distance : {Utils.CalculateDistance(node.Latitude!.Value, node.Longitude!.Value, n.Latitude, n.Longitude)} Km</p>"
                            })
                    );
                    
                    markers.AddRange(
                        node.Waypoints
                            .Select(n => new Osm.Marker
                            {
                                Id = $"waypoint-{n.Id}",
                                Latitude = n.Latitude,
                                Longitude = n.Longitude,
                                Color = Utils.Orange,
                                IconType = Osm.IconType.Circle,
                                Label = $"Point d'intérêt : {n.Name}",
                                Popup = !string.IsNullOrWhiteSpace(n.Description) ? $"<p><b>{n.Name}</b></p><p>{n.Description}</p>" : null
                            })
                    );
                }
            }

            await Map.AddPolylines(lines.DistinctBy(n => n.Id).ToList());
            await Map.AddMarkers(markers.DistinctBy(n => n.Id).ToList());

            HasRenderMapData = true;
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {
        NbDaysPurge = Configuration.GetValue("PurgeDays", 3);
        MinDate = DateTime.Today.ToUniversalTime().AddDays(-NbDaysPurge);
        
        if (CultureInfo.CurrentCulture.Name != "fr-FR")
        {
            CurrentRegionCode = null;
            CurrentModemPreset = null;
        }
        
        Context = await ContextFactory.CreateDbContextAsync();

        await FetchData();

        await base.OnInitializedAsync();
    }

    private async Task FetchData()
    {
        if (Loading)
        {
            return;
        }
        
        Loading = true;
        
        Nodes = await Context.Nodes
            .Include(n => n.MyNeighbors
                .Where(a => a.Distance > 0 && a.Distance < Utils.DefaultDistanceAllowed && a.Neighbor.Latitude.HasValue && a.Neighbor.Longitude.HasValue)
                .OrderBy(t => t.UpdatedAt))
            .ThenInclude(n => n.Neighbor)
            .Include(n => n.NeighborsFor
                .Where(a => a.Distance > 0 && a.Distance < Utils.DefaultDistanceAllowed && a.Neighbor.Latitude.HasValue && a.Neighbor.Longitude.HasValue)
                .OrderBy(t => t.UpdatedAt))
            .ThenInclude(n => n.Node)
            .Include(n => n.Waypoints.Where(a => a.ExpiresAt >= DateTime.UtcNow))
            .Include(n => n.Positions.OrderByDescending(a => a.UpdatedAt).Take(1))
            .Where(n => n.Latitude.HasValue && n.Longitude.HasValue)
            .Where(n => n.LastSeen.HasValue && n.LastSeen >= MinDate)
            .Where(n => CurrentRegionCode == null|| n.RegionCode == CurrentRegionCode)
            .Where(n => CurrentModemPreset == null || n.ModemPreset == CurrentModemPreset || n.ModemPreset == null)
            .Where(n => CurrentFrequencies == null || n.LongName != null && CurrentFrequencies.Any(c => n.LongName.Contains(c)))
            .AsSplitQuery()
            .AsNoTrackingWithIdentityResolution()
            .ToListAsync();

        Total = Nodes.Count;
        TotalAlive = Nodes.Count(n => !n.IsOffline());
        
        Loading = false;
        HasRenderMapData = false;
    }

    private Osm.Marker GetMarker(Node node)
    {
        var color = node.IsOffline() ? Utils.Red : node.IsMqttGateway == true ? Utils.Green : Utils.Blue;
        
        return new Osm.Marker
        {
            Id = node.Id.ToString(),
            Latitude = node.Latitude!.Value,
            Longitude = node.Longitude!.Value,
            Label = node.AllNames,
            Popup = $"<p><a href=\"/node/{node.Id}\" target=\"_blank\" rel=\"nofollow\"><b>{node.AllNames}</b></a></p><p>{node.RegionCode?.ToString() ?? "UNSET"} | {node.ModemPreset?.ToString() ?? ""}</p><p>{node.Role?.ToString() ?? ""} | {(node.IsMqttGateway == true ? $"Passerelle MQTT {node.MqttServer}" : "Radio uniquement")} | {node.PrimaryChannel}</p><p>Dernière MAJ : {node.LastSeen?.ToFrench().ToString(CultureInfo.CurrentCulture)}</p>",
            IconType = Osm.IconType.Circle,
            Color = color,
            FillColor = node is { RegionCode: not null, ModemPreset: not null } ? color : Utils.Gray,
            Opacity = 1
        };
    }

    private string GetIconStyleCss(string color, string? fillColor = null, float opacity = 1)
    {
        return $"border-color: {color}; {(opacity > 0 ? $"background-color: {fillColor ?? color}" : "")}";
    }

    private async Task SetRegionCode(Config.Types.LoRaConfig.Types.RegionCode? regionCode)
    {
        CurrentRegionCode = regionCode;

        await FetchData();
    }

    private async Task SetModemPreset(Config.Types.LoRaConfig.Types.ModemPreset? modemPreset)
    {
        CurrentModemPreset = modemPreset;
        
        await FetchData();
    }

    private async Task SetFrequency(string[]? frequency)
    {
        CurrentFrequencies = frequency;
        
        await FetchData();
    }
    
    private string FormatKm(int value)
    {
        return value + " Km";
    }

    private string ParseKm(string value)
    {
        return value.Replace(" Km", "");
    }

    public async ValueTask DisposeAsync()
    {
        await Context.DisposeAsync();
    }
}